<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express Intro</title>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/forms.js"></script>
    <script type="text/javascript" src="javascripts/editIngredients.js"></script>
    <script type="text/javascript" src="javascripts/orderPrice.js"></script>
    <style>
      .edit_button {
        display: inline;
      }
    </style>
  </head>
  <body>
    {{{body}}}
    <br>
    <ul>
    	<li><a href="/ingredients">Inspect ingredients</a></li>
    	<li><a href="/order">Order a burger</a></li>
    	<li><a href="/kitchen">Work in the kitchen</a></li>
    </ul>
  </body>
</html>
